@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@{
    var mainServicesBlock = (MainServicesBlock)Model.Content;
}
<div class="bg-darkgray-950 py-8" id="mainServices">
    <div class="grid-cols-1 container grid gap-12 md:grid-cols-3">
        @(await Html.GetBlockListHtmlAsync(mainServicesBlock.Service))
    </div>
</div>