@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@{
    var servicesBlock = (ServicesBlock)Model.Content;
}

<section class="section-wrapper container" id="projects">
    <div class="mb-12 flex items-center gap-8" style="flex-direction:row">
        <div class="h-[1px] w-full bg-zinc-700"></div>
        <h2>
            <div class="relative w-fit overflow-hidden">
                <div style="opacity: 1; transform: none;">
                    <span class="font-black text-end text-3xl md:text-5xl">
                        @servicesBlock.Title<span class="text-primary-400">.</span>
                    </span>
                </div>
            </div>
        </h2>
    </div>
    <div class="grid-cols-1 grid gap-12 md:grid-cols-2">
        @(await Html.GetBlockListHtmlAsync(servicesBlock.ServiceItem))
    </div>
</section>