@using System.ComponentModel
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@{
    var serviceDeclarationBlock = (ServiceDeclarationBlock)Model.Content;
}

<section class="">
    <div class="container">
        <h1 class="mb-2 text-xl font-bold uppercase tracking-widest text-black">@serviceDeclarationBlock.Title ...</h1>
        <div class="flex">
            <span class="mb-6 w-fit text-3xl font-bold uppercase text-black">... in</span>
            <span class="mb-6 ml-2 w-fit bg-yellow-400 px-2 text-3xl font-bold uppercase text-black">@Umbraco.GetDictionaryValue("3 Wörtern")</span>
        </div>
        @Html.Raw(serviceDeclarationBlock.Text)
        <div class="mt-6 flex max-md:flex-wrap">
            @(await Html.GetBlockListHtmlAsync(serviceDeclarationBlock.Items))
        </div>
    </div>
</section>