@inherits ElektroWasserer.Web.EwUmbracoViewPage
@{
}

<footer class="bg-white p-4 dark:bg-gray-800 md:px-6 md:py-8">
    <div class="md:flex md:flex-row md:justify-evenly">
        <div class="mb-4 flex items-center md:flex md:justify-center">
            <img src="https://localhost:44349/media/ElektroWasserer_Logo.png" class="mr-4 size-10 md:size-24" alt="Elektro Wasserer Logo"/>
            <span class="self-center whitespace-nowrap text-xl font-semibold dark:text-white">Elektro Wasserer</span>
        </div>
        <ul class="mb-2 flex flex-col text-white">
            <span class="text-lg font-medium">Kontakt & Adresse</span>
            <li>
                <a href="tel:348 352 8931">+39 348 352 8931</a>
            </li>
            <li>
                <p>Via Gisse, 74, 39030 San Giovanni BZ</p>
            </li>
            <li>
                <a href="mailto:">info@elektrowasser.com</a>
            </li>
        </ul>
        <ul class="text-white">
            <li class="mt-2">Montag 07:30–18:30</li>
            <li>Dienstag 07:30–18:30</li>
            <li>Mittwoch 07:30–18:30</li>
            <li>Donnerstag 07:30–18:30</li>
            <li>Freitag 07:30–18:30</li>
            <li>Samstag 07:30–18:30</li>
            <li class="">Sonntag Geschlossen</li>
        </ul>
    </div>
    <hr class="my-6 border-gray-200 dark:border-gray-700 sm:mx-auto lg:my-8"/>
    <ul class="mb-6 flex flex-wrap items-center sm:mb-0">
        <li>
            <a href="#" class="mr-4 text-sm text-gray-500 hover:underline dark:text-gray-400 md:mr-6">About</a>
        </li>
        <li>
            <a href="#" class="mr-4 text-sm text-gray-500 hover:underline dark:text-gray-400 md:mr-6">
                Privacy
                Policy
            </a>
        </li>
        <li>
            <a href="#" class="text-sm text-gray-500 hover:underline dark:text-gray-400">Contact</a>
        </li>
    </ul>
</footer>