@inherits ElektroWasserer.Web.EwUmbracoViewPage

@{
    var homePage = Model.TryConvertTo<Homepage>().Result;
}

<div class="min-h-full">
    <nav class="z-20 nav fixed w-full transition-all duration-500">
        <div class="h-20 px-4">
            <div class="-mr-2 flex items-center justify-between">

                <div class="flex">
                    <input type="checkbox" id="hamburger" class="peer sr-only relative">
                    <label for="hamburger" class="relative left-0 top-0 z-30 inline-block cursor-pointer rounded-lg p-4 transition-all duration-500">
                        <svg class="block h-12 w-12" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" aria-hidden="true" data-slot="icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                        </svg>
                    </label>
                    <div class="z-20 -translate-x-full fixed left-0 top-20 h-full w-64 transform bg-gray-800 shadow-lg transition-all duration-500 peer-checked:translate-x-0">
                        <div class="flex flex-col gap-2 p-6">
                            @foreach (var item in homePage?.SidebarMenuItems!)
                            {
                                <a href="@item.Url" class="text-2xl text-white">@item.Name</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="">
                    <img class="size-16" src="https://localhost:44349/media/ElektroWasserer_Logo.png" alt="Logo Elektro Wasserer">
                </div>
                <div class="flex text-white">
                    <span>DE |</span>
                    <span>IT |</span>
                    <span>EN </span>
                </div>
            </div>

        </div>

    </nav>
</div>

<script>
    const nav = document.querySelector(".nav");
    window.addEventListener('scroll', () => {
        if (window.scrollY > 50) {
            nav.classList.add('bg-gray-800');
        } else {
            nav.classList.remove('bg-gray-800');
        }
    });
</script>