@using Smidge.TagHelpers
@inherits ElektroWasserer.Web.EwUmbracoViewPage

<!doctype html>
@{
    Layout = null;
}   
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elektro Wasserer</title>
    <link href="content/css/output.css" rel="stylesheet">
</head>
<body>
<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>
<main class="main-content">
    @RenderBody()
</main>
</body>
</html>