@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    h1 {
        @apply text-yellow-400;
    }
    h2 {
        @apply text-black;
    }
    .container {
        @apply m-auto px-4;
    }
    section {
        @apply !my-20;
    }

    .howItWstep.active {
        @apply border-yellow-400 text-yellow-400 opacity-100; /* Tailwind classes */
    }

    .howItWstep {
        @apply border-transparent text-gray-500 opacity-50; /* Tailwind classes */
    }

    .content.active {
        @apply block;
    }

    .content {
        @apply hidden;
    }
}
body {
    font-family: "Outfit", sans-serif
}

.main-content .lazyload,
.lazyloading {
    opacity: 0;
    transition: opacity ease 1500ms;
}

.main-content .lazyloaded {
    opacity: 1;
    transition: opacity ease 1500ms;
}
/*
header {
    clip-path: polygon(0 0, 5760px 0, 5760px calc(100% - 352px), 0 100%);
}*/

